@import "../../styles/mixins";
@import "../../styles/variables";

.navbar {
  background-image: url("../../../../assets/header.png");
  border-bottom: 2px solid $accent-color;
  display: flex;
  justify-content: center;
  padding: 1rem 0.7rem;

  @include element('logo') {
    display: block;
    height: 4rem;
    margin: auto;
  }
  @include element('menu') {
    align-self: center;
    cursor: pointer;
    font-size: 2rem;
  }

  @include modifier('yellow') {
    color: $primary-color;
  }
}

.nav {
  align-items: center;
  background-color: $nav-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 5rem;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;

  @include element('close') {
    background-color: transparent;
    border: none;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    outline: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  @include element('markdown') {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;
  }
}


.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include element('item') {
    align-self: center;
    color: $primary-color;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 1px;
    overflow: hidden;
    padding-bottom: 0.7rem;
    white-space: nowrap;

    &:nth-child(1) {
      color: $accent-color;
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 3rem;
    }

    &:last-child {
      padding-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: $primary-color;
    }

    @include modifier('active') {
      color: $primary-color;
    }

  }
}
