<div class="nav" [ngStyle]="navCloseStyle">
  <button class="nav__close" (click)="manageNavStyle()">&times;</button>
  <div class="nav__markdown" [ngStyle]="markdownStyle" (click)="manageNavStyle()"></div>

  <ul class="list" *ngIf="user$ | async as user">
    <li class="list__item" >
      {{user.displayName}}
    </li>
    <li class="list__item" *appLoggedOut (click)="googleLogin()">
      <a>LOGIN</a>
    </li>
    <li class="list__item">
      <a [routerLink]="['/restaurants']" routerLinkActive="list__item--active" (click)="manageNavStyle()">
        RESTAURANTS
      </a>
    </li>
    <li class="list__item" *appLoggedIn>
      <a [routerLink]="['/settings']" routerLinkActive="list__item--active" (click)="manageNavStyle()">
        SETTINGS
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['/about']" routerLinkActive="list__item--active" (click)="manageNavStyle()">
        ABOUT
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['/contact']" routerLinkActive="list__item--active" (click)="manageNavStyle()">
        CONTACT
      </a>
    </li>
    <li class="list__item"  *appLoggedIn>
      <a (click)="logout()">
        LOGOUT
      </a>
    </li>
  </ul>
</div>

<header class="navbar">
  <span class="navbar__menu navbar--yellow" (click)="manageNavStyle()">
    &#9776;
  </span>
  <img class="navbar__logo" src="assets/logo.png"/>
</header>
