@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/media-query";
@import "../../../../shared/styles/functions";

@include phone-desktop {
  .table--red {
    display: none !important;
  }

  .table {
    width: 100%;

    @include element('title-row') {
      &:nth-of-type(2n) {
        background-color: inherit;
      }
      @include element('cell') {
        &:first-child {
          cursor: pointer;
          background: #f0f0f0;
          color: $primary-color;
          font-size: 1.8em;
          font-weight: bold;
          padding: rem(10) 0;
        }
        strong {
          color: $accent-color;
        }
      }
    }

    thead {
      display: none;
    }

    tbody {
      .table__title-row__cell {
        display: block;
        font-size: 1.2rem;
        padding: rem(5);
        text-align: center;
      }

      .table__title-row__cell:before {
        content: attr(data-th);
        display: block;
        padding: rem(5);
        text-align: center;
      }
    }

  }
}

@include desktop {
  th {
    border: rem(1) solid #dddddd;
    padding: rem(8);
    text-align: center;
  }

  .table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 100%;

    @include element('title-row') {
      text-align: center;
      &:nth-child(even) {
        background-color: #dddddd;
      }
      @include element('cell') {
        border: rem(1) solid #dddddd;
        padding: rem(8);
        text-align: center;

        &:first-child {
          color: $primary-color;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    @include modifier('red') {
      cursor: auto !important;
      color: $accent-color !important;
      font-weight: 700;
    }
    @include modifier('hidden') {
      display: none;
    }
  }

}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @include element('button') {
    transition: 0.4s;
    background-color: white;
    border: rem(2) solid $gray-color;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: rem(4) rem(2);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $gray-color;
      color: $white;
    }
  }
  @include element('text') {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 1rem;
    text-transform: uppercase;
  }

}
