<div *ngIf="topTen; else fullList">
  <table *ngIf="geocode$ | async  as geocode" class="table">
    <thead>
    <tr class="table__title-row">
      <th class="table__title-row__cell table--red">Name</th>
      <th class="table__title-row__cell table--red">Rating</th>
      <th class="table__title-row__cell table--red">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let restaurant of geocode.nearby_restaurants" class="table__title-row">
      <td class="table__title-row__cell"><span (click)="navToDetails(restaurant.R.res_id)">{{restaurant.name}}</span>
      </td>
      <td class="table__title-row__cell"><strong class="table--hidden">Rating:</strong>
        {{restaurant.user_rating.aggregate_rating}}
      </td>
      <td class="table__title-row__cell"><strong class="table--hidden">Address:</strong>
        {{restaurant.location.address}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #fullList>
  <table *ngIf="search$ | async  as search" class="table">
    <thead>
    <tr class="table__title-row">
      <td class="table__title-row__cell table--red">Name</td>
      <td class="table__title-row__cell table--red">Rating</td>
      <td class="table__title-row__cell table--red">Address</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let restaurant of search.restaurants" class="table__title-row">
      <td class="table__title-row__cell"><span (click)="navToDetails(restaurant.R.res_id)">{{restaurant.name}}</span>
      </td>
      <td class="table__title-row__cell"><strong class="table--hidden">Rating:</strong>
        {{restaurant.user_rating.aggregate_rating}}
      </td>
      <td class="table__title-row__cell"><strong class="table--hidden">Address:</strong>
        {{restaurant.location.address}}
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="search$ | async as search" class="pagination">
    <button class="pagination__button"
            (click)="prevRestaurants()"
            [attr.disabled]="prevPageExists() ? null : 'disabled'">
      Prev:
    </button>
    <span class="pagination__text">Page: {{page}}</span>
    <button class="pagination__button"
            (click)="nexRestaurants()"
            [attr.disabled]="nextPageExists() ? null : 'disabled'">
      Next:
    </button>
  </div>
</ng-template>
