<section class="wrapper">

  <div class="card">
    <h1 class="card__title">User Details</h1>
    <form [formGroup]="userForm" novalidate class="card__form" autocomplete="off">
      <div formGroupName="details" class="details">
        <div class="r-details-item">
          <label for="name" class="r-details-item-label">Name:</label>
          <input formControlName="name" id="name" class="r-details-item-input">
        </div>
        <div class="error"  *ngIf="((userForm.get('details.name').dirty ||
                        userForm.get('details.name').touched) &&
                        userForm.get('details.name').errors)">
          <span class="error__span" *ngIf="userForm.get('details.name').errors.required">
              Name is required
            </span>
        </div>
        <div class="r-details-item">
          <label for="age" class="r-details-item-label">Age:</label>
          <input formControlName="age" id="age" class="r-details-item-input">
        </div>
        <div class="error"  *ngIf="((userForm.get('details.age').dirty ||
                        userForm.get('details.age').touched) &&
                        userForm.get('details.age').errors)">
            <span class="error__span" *ngIf="userForm.get('details.age').errors.age">
              Age should be between 3 and  115
            </span>
            <span class="error__span" *ngIf="userForm.get('details.age').errors.required">
              Age is required
            </span>
        </div>
        <div class="details__item select">
          <label class="select__title">Sex:</label>
          <label class="select__option" for="name">Male:
            <input id="male" type="radio" formControlName="sex" value="male" class="select__input"
                   checked>
          </label>
          <label class="select__option" for="female">Female:
            <input id="female" type="radio" formControlName="sex" value="female"
                   class="select__input">
          </label>
        </div>
      </div>
    </form>
    <button class="r-button r-button--blue" type="button" [disabled]="!userForm.valid"
            (click)="updateUserData(selectedAddress.name)">Update
    </button>
  </div>

  <div class="card card--marginTop" *ngIf="userDetails$ | async as userDetails">
    <h1 class="card__title">Addresses list</h1>
    <div class="card__addresses" *ngIf="userDetails.user">
      <button class="r-button" *ngFor="let address of userDetails.user.address"
              (click)="select(address)">
        {{address.name}}
      </button>
    </div>
  </div>

  <app-settings (addressToUpdate)="updateAddress($event)"
                (addressToCreate)="createAddress($event)"
                (addressToRemove)="removeAddress($event)"
                (addressToUpdateWithName)="updateAddressWithName($event)"
                [selectedAddress]="selectedAddress"
                class="settings"></app-settings>
</section>
