@import "../../../../shared/styles/media-query";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/classes";
@import "../../../../shared/styles/animations";

.wrapper {
  align-items: center;
  background: $gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.card {
  animation: fadeIn $fadeIn, slideFromRight $slide;
  @extend .r-card;

  @include element('title') {
    @extend .r-card__title;
  }

  @include element('form') {
    width: 100%;

    .error {
      @extend .r-error;

      @include element('span') {
        @extend .r-error-span;
      }
    }
  }

  @include element('addresses') {
    animation: fadeIn 0.8s;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
  }

  @include modifier('marginTop') {
    margin-top: 2rem;
  }
  @include modifier('marginBottom') {
    margin-bottom: 2rem;
  }
}

.details {

  @include element('item') {
    @extend .r-details-item;

    @include element('input') {
      @extend .r-details-item-input;
    }

    @include element('label') {
      @extend .r-details-item-label;
    }
  }
}

.select {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: none;

  &:hover {
    transform: none;
    font-size: 1.2rem;
  }

  @include element('title') {
    flex: 2;
  }
  @include element('option') {
    flex: 2;
  }
  @include element('input') {
    text-align: left;
  }
}

.settings {
  height: 100%;
  width: 100%;
}

