<div class="info">
  <input class="info__input" placeholder="Type any location" type="text" #search [formControl]="searchControl">
</div>
<agm-map class="map" [zoom]="13" [latitude]="lat"
         (mapClick)="setUserLocation()" [longitude]="lon" [styles]="customStyle">

  <div *ngIf="topTen; else allRestaurants">
    <div *ngIf="geocode$ | async as geocode">
      <agm-marker *ngFor="let restaurant of geocode.nearby_restaurants"
                  [iconUrl]="'assets/pointer-roast.png'"
                  [latitude]="restaurant.location.latitude | toNumber"
                  [longitude]="restaurant.location.longitude | toNumber">

        <agm-snazzy-info-window [shadow]="shadow" [padding]="'5px 10px'" [border]="border"
                                [maxWidth]="200" [closeWhenOthersOpen]="true">
          <ng-template class="marker">
            <h4 class="marker__name" (click)="navigateToDetails(restaurant.id)">
              {{restaurant.name}}</h4>
            <p class="marker__rating">Ocena:
              <strong>{{restaurant.user_rating.aggregate_rating}}</strong>
            </p>
          </ng-template>
        </agm-snazzy-info-window>

      </agm-marker>
    </div>
  </div>

  <ng-template #allRestaurants>
    <div *ngIf="search$ | async as search">
      <agm-marker *ngFor="let restaurant of search.restaurants"
                  [iconUrl]="'assets/pointer-roast.png'"
                  [latitude]="restaurant.location.latitude | toNumber"
                  [longitude]="restaurant.location.longitude | toNumber">

        <agm-snazzy-info-window [shadow]="shadow" [padding]="'5px 10px'" [border]="border"
                                [maxWidth]="200" [closeWhenOthersOpen]="true">
          <ng-template class="marker">
            <h4 class="marker__name" (click)="navigateToDetails(restaurant.id)">
              {{restaurant.name}}</h4>
            <p class="marker__rating">Ocena:
              <strong>{{restaurant.user_rating.aggregate_rating}}</strong>
            </p>
          </ng-template>
        </agm-snazzy-info-window>

      </agm-marker>
    </div>
  </ng-template>

</agm-map>
