@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/media-query";

.marker {
  @include element('name') {
    text-align: center;
    letter-spacing: 1px;

    &:hover {
      color: $accent-color;
    }
  }
  @include element('rating') {
    text-align: center;
  }
}

.map {
  height: 70vh;
  width: 100%;

  @media screen and (min-device-height: 768px) {
    height: 500px;
  }
}

.info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
  @include element('input') {
    background-color: wheat;
    border-radius: 0.4rem;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
    outline: none;
    text-align: center;
    text-transform: capitalize;
    width: 20rem;
    &::placeholder {
      color: white;
      text-transform: uppercase;
    }
    @include tablet {
      width: 25rem;
    }
    @include desktop {
      width: 20rem;
    }
  }

}
