@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/media-query";

.error {
  box-sizing: border-box;
  color: $accent-color;
  font-size: 2rem;
  margin: 0.5rem 0.5rem;

  @include element('message') {
    letter-spacing: 2px;
    text-align: center;
    word-break: break-all;
  }

  @include element('link') {
    color: $primary-color;
    display: block;
    text-align: center;
    text-decoration: underline;
  }

  @include phone {
    font-size: 1rem;
  }
}

.list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;

  @include phone-mid {
    margin: 1rem;
  }

  @include element('header') {

    @include element('item') {
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 2rem;
      margin-top: 2rem;
      text-transform: capitalize;

      @include phone-mid {
        font-size: 0.7rem;
      }
      @include phone-tablet {
        font-size: 1rem;
      }
      @include tablet {
        font-size: 1rem;
        padding: 0 3rem;
      }
      @include desktop {
        font-size: 2rem;
        padding: 0 5rem;
      }
    }
  }

  @include element('content') {

    @include element('item') {
      letter-spacing: 1px;
      margin-bottom: 2rem;
      margin-top: 2rem;
      text-align: right;

      @include phone-mid {
        font-size: 0.7rem;
      }
      @include phone-tablet {
        font-size: 1rem;
      }
      @include tablet {
        font-size: 1rem;
        padding: 0 3rem;
      }
      @include desktop {
        font-size: 2rem;
        padding: 0 5rem;
      }

    }
  }
}
