<div *ngIf="restaurant$ as  rest">
  <div *ngIf="rest.error" class="error">
    <h1 class="error__message">
      I am sorry, restaurant with this id is not available :(
    </h1>
    <a routerLink="/restaurants" class="error__link">Go back to restaurants list </a>
  </div>
</div>

<div *ngIf="restaurant$ as rest">
  <div class="list" *ngIf="!rest.loading && rest.rest">
    <div class="list__header">
      <div class="list__header__item">
        Name
      </div>
      <div class="list__header__item">
        Address
      </div>
      <div class="list__header__item">
        Rating
      </div>
      <div class="list__header__item">
        Average Price for 2
      </div>
      <div class="list__header__item">
        Category
      </div>
    </div>
    <div class="list__content">
      <div class="list__content__item">
        {{rest.rest.name}}
      </div>
      <div class="list__content__item">
        {{rest.rest.location.address}}
      </div>
      <div class="list__content__item">
        {{rest.rest.user_rating.aggregate_rating}}
      </div>
      <div class="list__content__item">
        {{rest.rest.average_cost_for_two}}
      </div>
      <div class="list__content__item">
        {{rest.rest.cuisines}}
      </div>
    </div>
  </div>
</div>
