@import '~bourbon/app/assets/stylesheets/_bourbon';
@import "~bourbon-neat/app/assets/stylesheets/_neat";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/media-query";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/animations";

// CONTAINER AND 2 SECTIONS
.container {
  @include outer-container();
  margin-bottom: 2rem;
  animation: fadeIn $fadeIn, slideFromRight $slide;
}

.container__map {
  @include span-columns(6 of 12);
  box-sizing: border-box;

  @include phone {
    @include span-columns(12 of 12);
  }

  @include tablet {
    @include span-columns(12 of 12);
    padding: 0 rem(50);
  }

  @include desktop {
    @include span-columns(6 of 12);
    padding: 0 rem(25);
  }
}

.container__rest {
  @include span-columns(6 of 12);
  box-sizing: border-box;

  @include phone {
    @include span-columns(12 of 12);

  }

  @include tablet {
    @include span-columns(12 of 12);
  }

  @include desktop {
    @include span-columns(6 of 12);
    padding: 0 rem(25);
  }
}

// MAP SECTION
.map__nav {
  display: flex;
  box-sizing: border-box;

  @include element('title') {
    color: $accent-color;
    font-size: 1.5rem;
    height: 2rem;
    letter-spacing: rem(2);
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  @include phone {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  @include tablet {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  @include desktop {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

// RESTAURANT SECTION
.rest__nav {
  color: #111;
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: rem(20);
  font-weight: bold;
  letter-spacing: rem(1);
  line-height: 1;
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  text-align: center;
  @include element('title') {
    transition-duration: 0.3s;
    cursor: pointer;

    @include modifier('interactive') {
      color: $accent-color;
    }
  }

  @include phone {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  @include tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

  }

  @include desktop {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
