<div class="container">

  <section class="container__map">

    <div class="map__nav">
      <h5 class="map__nav__title">
        Restaurants near You
      </h5>
    </div>

    <div class="map__view">
      <app-google-maps [topTen]="topTen" (location)="handleLocationUpdates($event)"></app-google-maps>
    </div>

  </section>

  <section class="container__rest">

    <div class="rest__nav">
      <h2 class="rest__nav__title"
          (click)="changeList()"
          [class.rest__nav__title--interactive]="topTen">
        10 MOST POPULAR
      </h2>
      <h2 class="rest__nav__title"
          [class.rest__nav__title--interactive]="!topTen"
          (click)="changeList()">
        All Restaurants
      </h2>
    </div>
    <app-restaurants-list [location]="location" [topTen]="topTen" class="rest__list"></app-restaurants-list>
  </section>
</div>
