@import "functions";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(rem(200));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(rem(-200));
  }
  to {
    transform: translateX(0);
  }
}
