@import "functions";
@import "variables";
@import "mixins";

.buttonRemoveStyle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.r-button {
  @extend .buttonRemoveStyle;
  background-color: $primary-color;
  border-radius: rem(3);
  color: $white;
  padding: 0.5rem 1rem;
  transition: 0.4s;

  &:hover {
    color: $accent-color;
  }
}

button[type="button"]:disabled {
  background: #dddddd;

  &:hover {
    color: $white;
  }
}

.r-button--blue {
  background-color: cornflowerblue;
  color: white;
}

.r-error {
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-error-span {
  color: $error;
  letter-spacing: rem(1);
  animation: fadeIn $fadeIn;
}

.r-card {
  align-items: center;
  align-self: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem 3rem 1rem 3rem;
  transition: 1s;
  width: 80%;

  &:hover {
    box-shadow: 0 rem(14) rem(28) rgba(0, 0, 0, 0.25), 0 rem(10) rem(10) rgba(0, 0, 0, 0.22);
  }
}

.r-card__title {
  align-self: center;
  color: $accent-color;
  font-weight: lighter;
  letter-spacing: rem(1);
  text-transform: uppercase;
}

.r-details-item {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  height: 3rem;
  margin-bottom: 1rem;
  transition-delay: 0.2s;
  transition: 0.4s;

  &:hover {
    animation-timing-function: ease-in-out;
    font-size: 1.4rem;
    transform: scale(1.06);
  }
}

.r-details-item-input {
  align-self: flex-end;
  border: none;
  border-bottom: solid rem(2) $primary-color;
  box-sizing: border-box;
  display: block;
  flex: 5;
  font-size: inherit;
  letter-spacing: rem(1);
  outline: none;
  padding-left: 1rem;
}

.r-details-item-label {
  box-sizing: border-box;
  flex: 1;
  font-size: 1.2rem;
  letter-spacing: rem(1);
  margin-top: auto;
  text-align: left;
}
