$phone-small-width: 320px;
$phone-mid-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1600px;

@mixin phone {
  @media (min-width: #{$phone-small-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone-mid {
  @media (min-width: #{$phone-small-width}) and (max-width: #{$phone-mid-width - 1px}) {
    @content;
  }
}

@mixin phone-tablet {
  @media (min-width: #{$phone-mid-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;

  }
}

@mixin phone-desktop {
  @media (min-width: #{$phone-small-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
