@import "variables";

.buttonRemoveStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.r-button {
  @extend .buttonRemoveStyle;
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: $white;
  border-radius: 3px;
  transition: 0.4s;

  &:hover {
    color: $accent-color;
  }
}

.r-button--blue {
  background-color: cornflowerblue;
  color: white;
}

.r-card {
  width: 80%;
  margin-top: 1rem;
  align-self: center;
  padding: 1rem 3rem 1rem 3rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.r-card__title {
  text-transform: uppercase;
  color: $accent-color;
  align-self: center;
  letter-spacing: 1px;
  font-weight: lighter;
}

.r-details-item {
  display: flex;
  flex-direction: row;
  transition: 0.4s;
  transition-delay: 0.2s;
  height: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;

  &:hover {
    transform: scale(1.06);
    animation-timing-function: ease-in-out;
    font-size: 1.4rem;
  }
}

.r-details-item-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: solid 2px $primary-color;
  flex: 5;
  font-size: inherit;
  display: block;
  padding-left: 1rem;
  align-self: flex-end;
  letter-spacing: 1px;
}

.r-details-item-label {
  box-sizing: border-box;
  flex: 1;
  font-size: 1.2rem;
  margin-top: auto;
  text-align: left;
  letter-spacing: 1px;
}
