@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  align-items: center;
  background-image: url("../../../../assets/header.png");
  border-top: 2px solid $accent-color;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 3rem;

  @include element('text') {
    color: $bg-color;
  }
}
