@import "../../../../shared/styles/media-query";
@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";
@import "../../../../shared/styles/classes";
@import "../../../../shared/styles/animations";

.card {
  @extend .r-card;
  width: 80%;
  margin: 2rem auto;
  animation: fadeIn $fadeIn, slideFromLeft $slide;

  @include element('title') {
    @extend .r-card__title;
  }

  @include element('form') {
    width: 100%;
    .error {
      @extend .r-error;
      @include element('span') {
        @extend .r-error-span;
      }
    }
  }

}

.details {

  @include element('item') {
    @extend .r-details-item;

    @include element('input') {
      @extend .r-details-item-input;
    }

    @include element('label') {
      @extend .r-details-item-label;
    }
  }

}
