<section class="card">

  <h1 class="card__title">Addresses</h1>

  <h3 *ngIf="selectedAddress;else newAddress" class="card__title">
    You are editing:
    <b>{{selectedAddress.name}}</b>
  </h3>

  <ng-template #newAddress>
    <h3 class="r-card__title">Add new address</h3>
  </ng-template>

  <form class="card__form" [formGroup]="userForm" novalidate autocomplete="off">
    <button class="r-button r-button--blue" type="button"
            (click)="clean()">Clear
    </button>
    <div class="details">
      <div class="details__item">
        <label for="name" class="details__item__label">Name:</label>
        <input id="name" formControlName="name" class="details__item__input">
      </div>
      <div class="error" *ngIf="((userForm.get('name').dirty ||
                          userForm.get('name').touched) &&
                        userForm.get('name').errors)">
        <span class="error__span" *ngIf="userForm.get('name').errors.required">
              Name is required
        </span>
      </div>
      <div class="details__item">
        <label for="street" class="details__item__label">Street:</label>
        <input id="street" formControlName="street" class="details__item__input">
      </div>
      <div class="error" *ngIf="((userForm.get('street').dirty ||
                          userForm.get('street').touched) &&
                        userForm.get('street').errors)">
        <span class="error__span" *ngIf="userForm.get('street').errors.required">
              Street is required
        </span>
      </div>
      <div class="details__item">
        <label for="city" class="details__item__label">City:</label>
        <input id="city" formControlName="city" class="details__item__input">
      </div>
      <div class="error" *ngIf="((userForm.get('city').dirty ||
                          userForm.get('city').touched) &&
                        userForm.get('city').errors)">
        <span class="error__span" *ngIf="userForm.get('city').errors.required">
              City is required
        </span>
      </div>
      <div class="details__item">
        <label for="state" class="details__item__label">State:</label>
        <input id="state" formControlName="state" class="details__item__input">
      </div>
      <div class="error" *ngIf="((userForm.get('state').dirty ||
                          userForm.get('state').touched) &&
                        userForm.get('state').errors)">
        <span class="error__span" *ngIf="userForm.get('state').errors.required">
              State is required
        </span>
      </div>
      <div class="details__item">
        <label for="zipCode" class="details__item__label">Zip Code:</label>
        <input id="zipCode" formControlName="zipCode" class="details__item__input">
      </div>
      <div class="error" *ngIf="((userForm.get('zipCode').dirty ||
                          userForm.get('zipCode').touched) &&
                        userForm.get('zipCode').errors)">
        <span class="error__span" *ngIf="userForm.get('zipCode').errors.required">
              Zip code is required
        </span>
      </div>
    </div>
  </form>

  <div>
    <button *ngIf="selectedAddress.name;else submitAddress" class="r-button"
            (click)="updateAddress()" type="button">
      Update Address
    </button>
    <button *ngIf="selectedAddress.name" class="r-button r-button--blue" type="button"
            (click)="createNew()">Create new
    </button>
    <button *ngIf="selectedAddress.name" class="r-button r-button--blue" type="button"
            (click)="deleteAddress(selectedAddress.name)">Delete
    </button>
    <ng-template #submitAddress>
      <button class="r-button" (click)="addAddress()" type="button"
              [disabled]="!userForm.valid">Add</button>
    </ng-template>
  </div>

</section>
