@import '~bourbon/app/assets/stylesheets/_bourbon';
@import "~snazzy-info-window/dist/snazzy-info-window.scss";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
